#output{
    width: 110px;
    text-align: center;
    font-size: 2em;
}

.dicer{
    width: 105px;
    height: 105px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.dicer{
-webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 50px 10px 36px -4px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 50px 10px 36px -4px rgba(0,0,0,0);
}

.dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}



.black{
    background-color: black;
}

.white{
    background-color: white;
}

button{
    text-align: center;
    padding: 10px;
    width: 110px;
    font-size: 20px;
    background-color: white;
    color: skyblue;
    margin: 10px;
}

button:hover{
    background-color: deepskyblue;
    color: white;
}

#gameArea{
    margin: 15px;
}