#output{
    width: 550px;
    text-align: center;
    font-size: 2em;
}

.dicer{
    width: 90px;
    height: 90px;
    border: 1px solid blue;
    border-radius: 10px;
}

button{
    text-align: center;
    padding: 10px;
    width: 550px;
}